body{
    background: #F2F2F2;
}
ul,li{
    padding: 1rem;
    list-style: none;
    margin: 0;
}
.odd {
    background-color: #F16E42;
}
.even {
    background-color: #F64C59;
}
input.ng-invalid {
    border: 1px solid red;
}
input.ng-valid {
    border: 1px solid green;
}