body{
    background: #AFE24D;
}
h1{
    color: red;
    font-size: 60px;
    text-shadow: 0px 0px 6px #550000;
    transform: auto;
}
.cssbase64{
    background: url(../../images/git.png);
    width: 400px;
    height: 400px;;
}
